.histogram {
  border: 1px solid var(--grey-3);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px 29px 24px 24px;
  font-family: 'Inter', 'sans-serif';
  font-weight: 400;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.histogram__total-orders {
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  opacity: 0.8;
}

.histogram__total-num {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 40px;
}

.histogram__view-all {
  font-size: 16px;
  height: 24px;
  color: var(--primary);
  background-color: transparent;
  border: unset;
  cursor: pointer;
  margin-top: 3px;
}

.histogram__items {
  height: 50px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.histogram__item {
  flex-basis: 9px;
  flex-grow: 1;
  background-color: var(--primary);
}

.histogram__item:not(:last-child) {
  margin-right: 1px;
}
