.calendar {
  width: 100%;
  max-width: 304px;
  background: var(--white);
  border: 1px solid var(--grey-3);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 30px;
  font-family: 'Inter', 'sans-serif';
}

.calendar__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--calendar-title);
  margin-bottom: 24px;
}

.calendar__wrap {
  padding-bottom: 100%;
  position: relative;
}

.calendar__inner {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.calendar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.calendar__item-day {
  color: var(--calendar-day);
  margin-bottom: 24px;
  font-size: 14px;
}

.calendar__item-range-start,
.calendar__item-range-end {
  background-color: var(--primary);
}

.calendar__item-range-between {
  background-color: rgb(160 177 245 / 20%);
}
